# ===== STM32CubeIDE / Eclipse =====
.metadata/
.settings/
*.launch
*.log
*.lock

# ===== Build outputs =====
**/Debug/
**/Release/
**/build/

# ===== Compiled artifacts =====
*.o
*.d
*.su
*.cyclo
*.elf
*.list
*.map
*.hex
*.bin

# ===== OS junk =====
.DS_Store
Thumbs.db
